<html>
<head>

<p style="background-image: url('img_girl.jpghttps://i0.wp.com/unearthedmemphis.com/wp-content/uploads/2020/08/zoo2020_zoo_visitor_map_inside1-1.jpg?resize=1024%2C772&ssl=1');">

    <title>Text alignment</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<div class="topnav">
<div style="text-align: right">
  <input type="text" placeholder="Search..">
</div>
<div class="btn-group">
   <form action="http://localhost:3000/users">
    <input type="submit" value="My Page" />
</form>
<form action="http://localhost:3000/trending">
    <input type="submit" value="Trending" />
</form>
<form action="http://localhost:3000/game">
    <input type="submit" value="Game" />
</form>
<form action="http://localhost:3000/title">
    <input type="submit" value="Title" />
</form>
<form action="http://localhost:3000/home">
    <input type="submit" value="Home" />
</form>
<form action="http://localhost:3000/search">
    <input type="submit" value="Search" />
</form>
<form action="http://localhost:3000/editprofile">
    <input type="submit" value="Edit Profile" />
</form>
</div>
</div>
  
  <div style="text-align: right">
  <button>Sign in/out</button>
  </div>
</html>

<h1>
<b>Frequently Asked Questions!</b>
</h1>


<h1>
<b>Where is the Memphis Zoo located?</b>
</h1>

<ul>The Memphis Zoo, located in Midtown, Memphis, Tennessee, United States.</ul>

<h1>
<b>How many animals are at the zoo?</b>
</h1>

<ul>Memphis zoo is home to more than 3,500 animals representing over 500 different species.</ul>

<h1>
<b>When was the memphis zoo founded?</b>
</h1>

<ul>Created in April 1906, the zoo has been a major tenant of Overton Park for more than 100 years.</ul>

<h1>
<b>Operating hours?</b>
</h1>

<ul>Memphis Zoo is open from January 1st through December 31st. The Zoo is closed on Thanksgiving Day, Christmas Eve, and Christmas Day only.</ul>

<h1>
<b>FREE TUESDAY AFTERNOON</b>
</h1>

<ul>

<li>Photo ID with proof of age (17+) and TN residency are required for free admittance. TN Drivers license, current TN college or TN military photo ID will be accepted.</li>
<li>The Memphis Zoo allows free general admission to Tennessee residents with ID on Tuesday afternoons from 2 p.m. to close. NOTE: There is a $3 Conservation Fee to enter the CHINA exhibit where the Giant Pandas are located.</li>
<li>Persons ages 16 and under must be accompanied by an adult age 21 or older.</li>
<li>Adults age 21 and older may accompany up to five children ages 16 and under.</li>
<li>Free Tuesdays will not be held during the month of March.</li>
<li>Please note that parking fee ($10 per vehicle) still applies.</li>


</ul>


<h1>
<b>Admission Price's</b>
</h1>

<ul>

<li>Adults (Ages 12-59): $21 on weekdays, $23 on weekends.</li>
<li>Children (Ages 2-11): $16 on weekdays, $18 on weekends. Children 23 months and younger get in free.</li>
<li>Seniors (Age 60+): $20 on weekdays, $22 on weekends.</li>
<li>Parking: $10.</li>
<li>Groups of 20 or more will receive a 20% discount on the price of general admission tickets. *Group rates cannot be paid individually. They must be paid with one transaction for the whole group.</li>


</ul>

