<h1>Home Chat application</h1>
<html>
<head>
    <title>Text alignment</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<div class="topnav">
<div style="text-align: right">
  <input type="text" placeholder="Search..">
</div>
<div class="btn-group">
   <form action="http://localhost:3000/users">
    <input type="submit" value="My Page" />
</form>
<form action="http://localhost:3000/trending">
    <input type="submit" value="Trending" />
</form>
<form action="http://localhost:3000/game">
    <input type="submit" value="Game" />
</form>
<form action="http://localhost:3000/title">
    <input type="submit" value="Title" />
</form>
<form action="http://localhost:3000/home">
    <input type="submit" value="Home" />
</form>
<form action="http://localhost:3000/search">
    <input type="submit" value="Search" />
</form>
<form action="http://localhost:3000/editprofile">
    <input type="submit" value="Edit Profile" />
</form>
</div>
</div>
  
  <div style="text-align: right">
  <button>Sign in/out</button>
  </div>
<body>
    
</body>
</html>


<% if current_user %>
<%= link_to "Start Chatting", rooms_path %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>