<% content_for(:html_title) { 'Title' } %>

<body>
    <h1>Welcome Cat Country Fans!</h1>
    <%= image_tag 'cat country.jpeg', class: 'w-50 rounded-circle shadow-lg d-block mx-auto', style: 'max-width: 20rem;' %>
</body>
</html>

<h1>
<b>A trip to Cat Country!</b>
</h1>

<b>
<ul>Getting ready for a visit to the Memphis Zoo? If your crew is fascinated by the massive creatures that could be kin to your family pet, 
Cat Country is a good place to start your journey. Here’s a little taste of what you can expect!</ul>
</b>


<h1>
<b>African Lions</b>
</h1>

<ul>African lions are known for their exceptional roar that can be heard from up to five miles away—whoa! 
The Zoo is home to a mini-pride made up of two sisters, “Akeelah” and “Jamela,” along with their friend, “Thabo.” 
This species has been part of our Zoo since 1906, when “Dwyer” was acquired from a circus passing through town.</ul>

<h1>
<b>Cheetahs</b>
</h1>

<ul>The world’s fastest land mammal, cheetahs can top out at up to 70 miles per hour! Brothers “Kindu” and “Kasai” call the Memphis Zoo home. 
Born in August 2010, the duo looks a lot alike, but if you look closely, you’ll notice that Kasai is darker and has a kink at the end of his tail. 
Just remember not to challenge them to a foot race!</ul>

<h1>
<b>Cougars</b>
</h1>

<ul>Cougars go by many different names—puma, mountain lion, catamount, panther, mountain screamers, painter—but they’re all the same animal with the same rasping hook tongue that's designed to pull meat right off the bone. 
(Anyone want to take him to Rendezvous?) Two cougars reside at the Memphis Zoo, “Olympia,” and “Lakota Sue.”</ul>

<h1>
<b>Tigers</b>
</h1>

<ul>Tigers are the largest living members of the cat family and have the largest canines of any predator—almost four inches! The Zoo has two species of tigers, Bengal and Sumatran, so we alternate their exhibit time. 
The Bengals, “Narayan,” “Kumari” and “Orissa,” can be seen Friday through Monday, while “Rahtu,” the Sumatran tiger, is on exhibit Tuesday through Thursday. Sharing is caring!</ul>

<h1>
<b>Red Pandas</b>
</h1>

<ul>Red pandas, once thought to be related to giant pandas, are actually more closely related to members of the raccoon family. Who knew?! “Justin” and “Lucille” can be seen prancing around their exhibit any day of the week. 
Justin was born in Memphis, while Lucille came from the Bronx Zoo. To tell them apart, look for the one with the darker face and longer tail – that’s Justin! </ul>

